AI Smart Galaxy - AI resume screening.blueprint.json
{
    "name": "AI Smart Galaxy - AI resume screening",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8821790,
                "mode": "select",
                "includesHeaders": true,
                "limit": 1,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "drive",
                "spreadsheetId": "/13wUU3rRXfQxD0kb2SvXj1HoWCRcKFYf9nMYa7TsvmPc",
                "sheetId": "Form Responses 1",
                "tableFirstRow": "A1:Z200000"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (foraiautomationandagents@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "AI Smart Galaxy Applicant Rejected or Interview List Screen Resumes Using AI"
                            ]
                        },
                        "sheetId": {
                            "label": "Form Responses 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ]
            },
            "data": {
                "epoch": {}
            }
        },
        {
            "id": 2,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{1.`4`}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "pdf-co:PDFToAnything",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3423975
            },
            "mapper": {
                "async": 15000,
                "export": {
                    "exportType": "inline"
                },
                "import": {
                    "data": "{{2.data}}",
                    "name": "{{2.fileName}}",
                    "importType": "upload"
                },
                "inline": true,
                "convert": {
                    "convertType": "toTextSimple"
                },
                "expiration": "60"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "async": {
                            "mode": "chose",
                            "label": "Async"
                        },
                        "export": {
                            "nested": {
                                "exportType": {
                                    "label": "JSON Output"
                                }
                            }
                        },
                        "import": {
                            "nested": {
                                "importType": {
                                    "label": "Upload a File"
                                }
                            }
                        },
                        "inline": {
                            "mode": "chose"
                        },
                        "convert": {
                            "nested": {
                                "convertType": {
                                    "label": "PDF to Text (simple, no layout, fast)"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pdf-co"
                            },
                            "label": "My PDF.co connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pdf-co",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input File",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Import Options",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "spec": [
                            {
                                "name": "convertType",
                                "type": "select",
                                "label": "Convert Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "toTextSimple",
                                        "toText",
                                        "toCsv",
                                        "toJson2",
                                        "toJson",
                                        "toXml",
                                        "toHtml",
                                        "toJpg",
                                        "toPng",
                                        "toTiff"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Convert Options",
                        "required": true
                    },
                    {
                        "name": "pages",
                        "type": "text",
                        "label": "Pages"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "inline",
                        "type": "boolean",
                        "label": "Inline"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Execution Mode",
                        "validate": {
                            "enum": [
                                false,
                                15000,
                                "asyncCheckLater"
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "expiration",
                        "type": "number",
                        "label": "Output Links Expiration"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export Options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1504129
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "You're a recruitment manager. Your task is to review the following resume for the {{1.`5`}} position. Please use the following criteria:\nRate from 0 to 100%. There is a maximum of 100 points that someone can get, assuming that they have a perfect resume and no points are deducted based on red flags.\n\n1. Experience in Role (40 points)\nIf the candidate has more than 3 years of experience in a {{1.`5`}} position, award 20 points.\n\n2. Degree in Relevant Field (10 points)\nIf the candidate has a degree in {{1.`5`}} or a related field, award 10 points.\n\n3. Spelling and Grammar (15 points deduction)\nIf the candidate has more than 5 spelling and grammar issues in their CV, deduct 15 points.\n\n4. Reputable University (5 points)\nIf the candidate has graduated from a reputable university, award 5 points.\n\n5. Sales Experience (40 points)\nIf the candidate has experience in cold calling, inbound calling, or prospecting award 20 points.\n\n6. Unemployment Gap (30 points deduction)\nIf the candidate hasn't had a job in 1 year or more, deduct 30 points. If the candidate has a gap of 3 years, also deduct 30 points.\n\n7. Job Longevity (30 points deduction)\nIf the average length the candidate has held jobs is less than 1.5 years, deduct 30 points.\n\n8. Keyword Frequency (5 points)\nIf the candidate mentions the word {{1.`5`}}, or similar keywords 5 or more times, award 5 points."
                    },
                    {
                        "role": "system",
                        "content": "Please provide the output in JSON format. Here's the exact format. Placeholders will need to be changed:\n \"evaluation\": {\n                \"experience_in_role\": {\n                    \"criteria\": \"More than 3 years in a Sales position\",\n                    \"criteria_points\": 20,\n                    \"criteria_type\": \"awarded\",\n                    \"points_awarded\": {{points_placeholder}}\n                },\n                \"degree_in_relevant_field\": {\n                    \"criteria\": \"Degree in Sales or a related field\",\n                    \"criteria_points\": 10,\n                    \"criteria_type\": \"awarded\",\n                    \"points_awarded\": {{points_placeholder}}\n                },\n                \"spelling_and_grammar\": {\n                    \"criteria\": \"More than 5 spelling and grammar issues\",\n                    \"criteria_points\": 10,\n                    \"criteria_type\": \"deduction\",\n                    \"points_deducted\": {{points_placeholder}}\n                },\n                \"reputable_university\": {\n                    \"criteria\": \"Graduated from a reputable university\",\n                    \"criteria_points\": 5,\n                    \"criteria_type\": \"awarded\",\n                    \"points_awarded\": {{points_placeholder}}\n                },\n                \"sales_experience\": {\n                    \"criteria\": \"Experience in cold calling, inbound calling, or prospecting\",\n                    \"criteria_points\": 20,\n                    \"criteria_type\": \"awarded\",\n                    \"points_awarded\": {{points_placeholder}}\n                },\n                \"unemployment_gap\": {\n                    \"criteria\": \"Unemployment for 1 year or more\",\n                    \"criteria_points\": 30,\n                    \"criteria_type\": \"deducted\",\n                    \"points_deducted\": {{points_placeholder}}\n                },\n                \"job_longevity\": {\n                    \"criteria\": \"Average job length less than 1.5 years\",\n                    \"criteria_points\": 30,\n                    \"criteria_type\": \"deducted\",\n                    \"points_deducted\": {{points_placeholder}}\n                },\n                \"keyword_frequency\": {\n                    \"criteria\": \"Mentions 'Sales' or similar keywords 5 or more times\",\n                    \"criteria_points\": 5,\n                    \"criteria_type\": \"awarded\",\n                    \"points_awarded\": {{points_placeholder}}\n                }\n            },\n            \"total_points\": {{total_points}},\n            \"comments\": \"{{comments_on_candidate}}\""
                    }
                ],
                "max_tokens": "3000",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2626810
            },
            "mapper": {
                "mode": "fromAll",
                "valueInputOption": "USER_ENTERED",
                "spreadsheetId": "1bfeStiTlOpczmYtFWvsvyj-aDbdLqO5Jroy1FS49SGQ",
                "sheetId": "Form Responses 1",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "values": {
                    "6": "{{4.result.total_points}}",
                    "7": "{{4.result.comments}}",
                    "8": "{{if(4.result.total_points >= 75; \"FALSE\"; \"TRUE\")}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (jonocatliff@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Form Responses 1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "First Name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Last Name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Email (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Resume (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Position (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Score (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Comments (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Rejected (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Interview (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "mode": "edit",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "First Name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Last Name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Email (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Resume (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Position (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Score (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Comments (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Rejected (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Interview (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 779406,
                                "saveAfterSent": false
                            },
                            "filter": {
                                "name": "Rejected",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.result.total_points}}",
                                            "o": "number:less",
                                            "b": "75"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{1.`3`}}"
                                ],
                                "subject": "Thanks for applying",
                                "contentType": "text",
                                "attachments": [],
                                "cc": [],
                                "bcc": [],
                                "from": "",
                                "sender": "",
                                "replyTo": "",
                                "inReplyTo": "",
                                "references": [],
                                "priority": "normal",
                                "headers": [],
                                "text": "Hey {{1.`1`}},\n\nIt's Jono from XYZ company. Thanks for applying. Unfortunately, we decided to go in another direction.\n\nBest,\nJono"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "messages": [
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Connection: Value must not be empty."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "Jono's Gmail (jono@djing.ca)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "Plaintext"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "type": "array",
                                        "label": "References",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 779406,
                                "saveAfterSent": false
                            },
                            "filter": {
                                "name": "Interview",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.result.total_points}}",
                                            "o": "number:greaterorequal",
                                            "b": "75"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{1.`3`}}"
                                ],
                                "subject": "Congratulations, we want to interview you!",
                                "contentType": "text",
                                "attachments": [],
                                "cc": [],
                                "bcc": [],
                                "from": "",
                                "sender": "",
                                "replyTo": "",
                                "inReplyTo": "",
                                "references": [],
                                "priority": "normal",
                                "headers": [],
                                "text": "Hey {{1.`1`}},\n\nIt's Jono from XYZ company. Thanks for applying.\n\nCongratulations, I'd like to schedule an interview with you for our sales position. You can choose a time on my calendar here:\nhttps://calendly.com/appointment\n\nBest,\nJono"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "messages": [
                                        {
                                            "category": "setup",
                                            "severity": "error",
                                            "message": "Connection: Value must not be empty."
                                        }
                                    ]
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "Jono's Gmail (jono@djing.ca)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "Plaintext"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "type": "array",
                                        "label": "References",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}